TELEGRAM_BOT_TOKEN="8973687727:AAHjbYEbugj1zMl58sw6ON40HVFozRtVYAg"
CLERK_PUBLISHABLE_KEY="pk_test_ZHJpdmVuLWJ1Zy02My5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_SECRET_KEY="sk_test_aCulM73Io70L3kcB2PJ1c4anmWRf4qajBG6zj9BKaj"